/* section 1 */
.accountHeader {
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    position: absolute;
    right: 150px;
}
.accountHeader button{
    background-color: white;
    outline: none;
    border: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50rem;
    margin-left: 2rem;
    
    font-size: 1.25rem;
    color: #2F364B;
}

.section1{
    background: linear-gradient(#2F364B, #262B3D);
    min-height: 50vh;

    color: white;

    padding: 10rem;
    padding-top: 2rem;
    border-bottom-right-radius: 10rem;
}

@media only screen and (min-width: 1200px){
    .flexbox{
        Display: flex 
    }
}

.section1 h1 {
    font-size: 5rem;
    padding-top: 5rem;
}

.section1 h4 {
    font-size: 1.5rem;
    padding-right: 2rem;
}

.playButton {
    margin-top: 2rem;

    background-color: #00bac7;
    outline: none;
    border: none;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 50rem;
    
    font-size: 2rem;
    color: white;
}

.asl_pic{
    width: 40vw;
}

.auto{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

/* section 2 */
.section2 {
    padding-top: 3rem; 
    padding-bottom: 4rem; 
}

/* .centerHS {
    margin: auto;
    width: 15rem;
}

.centerTrophy {
    margin: auto;
    width: 20rem;
    margin-left: 3vw;
} */

.center {
    margin: auto;
    width: 20rem;
    /* text-align: center */
}

.hsText {
    font-size: 3rem;
}

.flexScores{
    display: flex;
}

.fs1 {
    width: 10rem;
}

.fs2 {
    width: 5rem;
} 

.centerTrophy {
    margin-top: 3rem;
}

.hsName {
    font-size: 2rem;
    width: 5rem;
    margin: 0;
    margin-right: 5rem;
    padding: 0;
}

.hsScore {
    font-size: 2rem;
    width: 2rem;
    margin: 0;
    padding: 0;
}

.allFlex{
    display: flex;
    margin-left: 3rem;
}