.section1{
position: static;
width: 892px;
height: 124px;
left: 0px;
top: 0px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 62px;

color: #000000;
}

.auto{
    flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}